<%= javascript_include_tag 'jquery-2.1.3.min' %>
<h1>Editing Map</h1>

<p id="notice"><%= notice %></p>

<script>
  var mapId = <%= @map.id %>;
  var xOffset = 0;
  var yOffset = 0;
  var edgeSize = 15;
  var edgeWidth = 1;
  var previousPointX;
  var previousPointY;
  var down = false;
  var hex;
  var context;
  var mouseDown = false;
  var currHexIcon = null;


//hex_mining.png
  //Preload Hex icons
  var farmland = new Image();
  farmland.src = "<%= asset_path('hex_farmland.png') %>"
  var mountainsWorld = new Image();
  mountainsWorld.src = "<%= asset_path('hex_mountains_world.png') %>"
  var mountain = new Image();
  mountain.src = "<%= asset_path('hex_mountain.png') %>"
  var grazingChoice = new Image();
  grazingChoice.src = "<%= asset_path('hex_grazing-choice.png') %>"
  var mountains = new Image();
  mountains.src = "<%= asset_path('hex_mountains.png') %>"
  var badlands = new Image();
  badlands.src = "<%= asset_path('hex_badlands.png') %>"
  var barren = new Image();
  barren.src = "<%= asset_path('hex_barren.png') %>"
  var desertRocky = new Image();
  desertRocky.src = "<%= asset_path('hex_desert-rocky.png') %>"
  var forestHomeTrees = new Image();
  forestHomeTrees.src = "<%= asset_path('hex_forest-home-trees.png') %>"
  var glaciers = new Image();
  glaciers.src = "<%= asset_path('hex_glaciers.png') %>"
  var grassland = new Image();
  grassland.src = "<%= asset_path('hex_grassland.png') %>"
  var grazingPoor = new Image();
  grazingPoor.src = "<%= asset_path('hex_grazing-poor.png') %>"
  var hillsHomeTrees = new Image();
  hillsHomeTrees.src = "<%= asset_path('hex_hills-home-trees.png') %>"
  var hills = new Image();
  hills.src = "<%= asset_path('hex_hills.png') %>"
  var hillsCaves = new Image();
  hillsCaves.src = "<%= asset_path('hex_hills_caves.png') %>"
  var mountainsCaves = new Image();
  mountainsCaves.src = "<%= asset_path('hex_mountains_caves.png') %>"
  var sandDunes = new Image();
  sandDunes.src = "<%= asset_path('hex_sand_dunes.png') %>"
  var snowHills = new Image();
  snowHills.src = "<%= asset_path('hex_snow_hills.png') %>"
  var swamp = new Image();
  swamp.src = "<%= asset_path('hex_swamp.png') %>"
  var tundra = new Image();
  tundra.src = "<%= asset_path('hex_tundra.png') %>"
  var waterCoastal = new Image();
  waterCoastal.src = "<%= asset_path('hex_water-coastal.png') %>"
  var waterSea = new Image();
  waterSea.src = "<%= asset_path('hex_water-sea.png') %>"

  hexTerrains = { "farmland": farmland,
                  "grazingChoice": grazingChoice,
                  "mountainsWorld": mountainsWorld,
                  "mountain": mountain,
                  "mountains": mountains,
                  "badlands": badlands,
                  "barren": barren,
                  "desertRocky": desertRocky,
                  "forestHomeTrees": forestHomeTrees,
                  "glaciers": glaciers,
                  "grassland": grassland,
                  "grazingPoor": grazingPoor,
                  "hillsHomeTrees": hillsHomeTrees,
                  "hills": hills,
                  "hillsCaves": hillsCaves,
                  "mountainsCaves": mountainsCaves,
                  "sandDunes": sandDunes,
                  "snowHills": snowHills,
                  "swamp": swamp,
                  "tundra": tundra,
                  "waterCoastal": waterCoastal,
                  "waterSea": waterSea };

  window.onload = function() {
      canvas = document.getElementById("myCanvas");
      hex = new hexDefinition(edgeSize);
      render();

      var processBackgroundEvt = function(e) {
        down = false;
        var x;
        var y;
        if (e.pageX || e.pageY) {
          x = e.pageX;
          y = e.pageY;
        }
        else {
          x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
          y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
        }
        console.log('x: '+x+' y: '+y);
        x -= canvas.offsetLeft;
        y -= canvas.offsetTop;
        console.log('x: '+x+' y: '+y);

        var result = hex.getReferencePoint(x - xOffset, y - yOffset);
        console.log('hex.getReferencePoint('+(x - xOffset)+', '+(y - yOffset)+'): '+JSON.stringify(result));
        if(currHexIcon) { 
          jQuery.post("/hexes/"+mapId+"/"+result.u+"/"+result.v, {hex: {image: currHexIcon, map_id: mapId, x: result.u, y: result.v}}, function( data ) { if ( data ) { console.log("set: "+JSON.stringify(data)); } });
          drawBackground({image: currHexIcon, map_id: mapId, x: result.u, y: result.v});
        }
      }

     canvas.onmousedown = function(e) {
        mouseDown = true;
      };
      canvas.onmouseup = function(e) {
        mouseDown = false;
        processBackgroundEvt(e);
      };
      canvas.onmousemove = function(e) {
        if(mouseDown) {
          processBackgroundEvt(e);
        };
      };

      $(".hexIcon").click(function(e) {
console.log("this? "+this.id);
          setIcon(this.id);
      });
    };

    var drawBackground = function(thisHex) {
console.log("drawBackground("+JSON.stringify(thisHex)+")");
      var img = hexTerrains[thisHex.image];
console.log("hex.getPixelCoordinates("+thisHex.x+","+thisHex.y+")");
      var center = hex.getPixelCoordinates(thisHex.x, thisHex.y);
console.log('center: '+JSON.stringify(center));
      imx = (center.x - hex.s / 2.0) - 5.81 + xOffset;
      imy = (center.y - hex.a / 2.0) + 0.4 + yOffset;
console.log('imx: '+imx+' imy: '+imy);
      addonX = 4;
      addonY= 2.5;
console.log("img: "+JSON.stringify(img.src));
      console.log("context.drawImage("+img+","+imx+","+imy+","+(hex.hexagon_narrow_width+addonX)+","+(hex.hexagon_narrow_width+addonY)+")");
      context.drawImage(img,imx,imy,hex.hexagon_narrow_width+addonX,hex.hexagon_narrow_width+addonY);
console.log(Math.round(thisHex.x) + ", " + Math.round(thisHex.y));
    }

    function setIcon(fileName) {
      currHexIcon=fileName;
    }

     function drawHex(context, hexCoordinates) {
      var center = hex.getPixelCoordinates(hexCoordinates.u, hexCoordinates.v);
      context.beginPath();
      
      context.moveTo((center.x - hex.b / 2.0) + xOffset, center.y + yOffset );
      context.lineTo((center.x - hex.s / 2.0) + xOffset, (center.y - hex.a / 2.0) + yOffset);
      context.lineTo((center.x + hex.s / 2.0) + xOffset, (center.y - hex.a / 2.0) + yOffset);
      context.lineTo((center.x + hex.b / 2.0) + xOffset, center.y + yOffset);
      context.lineTo((center.x + hex.s / 2.0) + xOffset, (center.y + hex.a / 2.0) + yOffset);
      context.lineTo((center.x - hex.s / 2.0) + xOffset, (center.y + hex.a / 2.0)  + yOffset);
      context.lineTo((center.x - hex.b / 2.0) + xOffset, center.y + yOffset);
      context.lineWidth = edgeWidth;
      context.strokeStyle = "#444";

      context.fillStyle = "rgba(190, 190, 190, 0.25)";
      context.fill();
            
      context.stroke();   
    }

    function render() {
      var canvas = document.getElementById("myCanvas");
      context = canvas.getContext("2d");
      context.clearRect(0, 0, <%= @map.width =%>, <%= @map.length =%>);
      drawHexagonGrid(context);
    }

    function drawHexagonGrid(context) {
      var date1 = new Date().getTime();
      var rows = 100;
      var columns = 100;
      var topLeftHex = hex.getReferencePoint(0 - xOffset,0 - yOffset);
      var bottomLeftHex = hex.getReferencePoint(0 - xOffset,<%= @map.length =%> - yOffset);
      var topRightHex = hex.getReferencePoint(<%= @map.width =%> - xOffset,0 - yOffset);
      var offset = 0;
      for (var i = topLeftHex.u - 1; i <= topRightHex.u + 1; i++) {
        for (var j = topLeftHex.v - 1 - Math.round(offset); j < bottomLeftHex.v + 1 - Math.round(offset); j++) {
          drawHex(context, {u:i, v:j});
          jQuery.get("/hexes/"+mapId+"/"+i+"/"+j, function( data ) { if ( data ) { drawBackground(data); console.log("currHex: "+JSON.stringify(data)); } });
        }
	offset = offset == 0 ? 0.5 : 0;
      }
      var date2 = new Date().getTime();
      document.getElementById("result").innerHTML = "Draw Time: " + (date2 - date1) + " ms";
    }
  </script>

  <div id="result">Draw Time: 27 ms</div>

  <canvas id="myCanvas" width="<%= @map.width =%>" height="<%= @map.length =%>"> </canvas>
</br>
<%= link_to("#", id: "farmland", class: "hexIcon") do %>
  <%= content_tag(:div, "Farmland") do %>
    <%= image_tag('hex_farmland.png', alt: "farmland") %>
  <% end %>
<% end %>
<!--
< %= link_to image_tag('hex_farmland.png', alt: "farmland"), "#", id: "farmland", class: "hexIcon" %>
-->
<%= link_to image_tag('hex_mountain.png', alt: "mountain"), "#", id: "mountain", class: "hexIcon" %>
<%= link_to image_tag('hex_mountains_world.png', alt: "mountainsWorld"), "#", id: "mountainsWorld", class: "hexIcon" %>
<%= link_to image_tag('hex_grazing-choice.png', alt: "grazingChoice"), "#", id: "grazingChoice", class: "hexIcon" %>
<%= link_to image_tag('hex_mountains.png', alt: "mountains"), "#", id: 'mountains', class: "hexIcon" %>
<%= link_to image_tag('hex_badlands.png', alt: "badlands"), "#", id: "badlands", class: "hexIcon" %>
<%= link_to image_tag('hex_barren.png', alt: "barren"), "#", id: "barren", class: "hexIcon" %>
<%= link_to image_tag('hex_desert-rocky.png', alt: "forestHomeTrees"), "#", id: "desertRocky", class: "hexIcon" %>
<%= link_to image_tag('hex_forest-home-trees.png', alt: "forestHomeTrees"), "#", id: "forestHomeTrees", class: "hexIcon" %>
<%= link_to image_tag('hex_glaciers.png', alt: "glaciers"), "#", id: "glaciers", class: "hexIcon" %>
<%= link_to image_tag('hex_grassland.png', alt: "grassland"), "#", id: "grassland", class: "hexIcon" %>
<%= link_to image_tag('hex_grazing-poor.png', alt: "grazingPoor"), "#", id: "grazingPoor", class: "hexIcon" %>
<%= link_to image_tag('hex_hills-home-trees.png', alt: "hillsHomeTrees"), "#", id: "hillsHomeTrees", class: "hexIcon" %>
<%= link_to image_tag('hex_hills.png', alt: "hills"), "#", id: "hills", class: "hexIcon" %>
<%= link_to image_tag('hex_hills_caves.png', alt: "hillsCaves"), "#", id: "hillsCaves", class: "hexIcon" %>
<%= link_to image_tag('hex_mountains_caves.png', alt: "mountainsCaves"), "#", id: "mountainsCaves", class: "hexIcon" %>
<%= link_to image_tag('hex_sand_dunes.png', alt: "sandDunes"), "#", id: "sandDunes", class: "hexIcon" %>
<%= link_to image_tag('hex_snow_hills.png', alt: "snowHills"), "#", id: "snowHills", class: "hexIcon" %>
<%= link_to image_tag('hex_swamp.png', alt: "swamp"), "#", id: "swamp", class: "hexIcon" %>
<%= link_to image_tag('hex_tundra.png', alt: "tundra"), "#", id: "tundra", class: "hexIcon" %>
<%= link_to image_tag('hex_water-coastal.png', alt: "waterCoastal"), "#", id: "waterCoastal", class: "hexIcon" %>
<%= link_to image_tag('hex_water-sea.png', alt: "waterSea"), "#", id: "waterSea", class: "hexIcon" %>

</br>
<%= link_to 'Show', @map %> |
<%= link_to 'Back', maps_path %>
